spring:
  application:
    name: steam
  profiles:
    active: local

  jpa:
    defer-datasource-initialization: true
    generate-ddl: true

  sql:
    init:
      mode: always

  web:
    resources:
      static-locations: classpath:/static/

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    check-template-location: true